footer {
    background-color: #eaeaea;
}

footer ul {

    list-style-type: none;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex: 2 1 250px;
    flex-wrap: wrap;
}

footer ul li {
    padding: 0.5rem 2rem;
    background-color: #ddd;
    /* display: inline-block; */
}

footer ul li {
    padding: 0.5rem 1.5rem;
    /* display: inline-block; */
}


footer p {
    font-size: 0.8rem;
    text-align: center;
}
