nav a.btn {
    font-weight: bold;
    color: #ddd;
}

nav a.btn:hover {
    font-weight: bold;
    color: #a77;
}


/* style od koszyka... pierwsza wersja */

.cart {
    color: $golden;
    font-weight: bolder;
}

.cart h3 {
    margin-bottom: 0;
}

.cart p {
    display: none;
    margin: 0;
    padding: 0.25rem;
    font-size: 0.8rem;
}

.cart:hover p {
    display: block;
}

.cart p > span {
    font-weight: bolder;
}
