// @import "...";   // SCSS import!
// TODO: podzielić CSS na funkcjonalne porcje pomiędzy plikami, coś na kształt "partials"
@import '../node_modules/font-awesome/scss/font-awesome.scss';  // z projektu

@import "./sass-partials/colors";   // używane kolory
@import "./sass-partials/bootstrap-overwrite";  // style zmieniające bootstrapa...o ile będzie używany
@import "./sass-partials/page-global";  // główne style dla witryny
@import "./sass-partials/top-navigation";   // górna belka nawigacyjna
@import "./sass-partials/treatment";
@import "./sass-partials/footer";      // stopka
@import "./sass-partials/just-for-test-styles"; // tymczasowe style do testów



p.error {
    color: red;
    border: 2px dashed red;
    margin: 0.5rem;
}

