// @import "...";   // SCSS import!
// TODO: podzielić CSS na funkcjonalne porcje pomiędzy plikami, coś na kształt "partials"
@import '../node_modules/font-awesome/scss/font-awesome.scss';  // z projektu

@import "./sass-partials/colors";   // używane kolory
@import "./sass-partials/page-global";  // główne style dla witryny
@import "./sass-partials/top-navigation";   // górna belka nawigacyjna 
@import "./sass-partials/footer";      // stopka
@import "./sass-partials/just-for-test-styles"; // tymczasowe style do testów
@import "./sass-partials/bootstrap-overwrite";  // style zmieniające bootstrapa...o ile będzie używany


p.error {
    color: red;
    border: 2px dashed red;
    margin: 0.5rem;
}

/* co to za style i czy ja je wszystkie popełniłem? */ 

.cart {
    background-color: #444;
    color: #dd5;
}

.cart h3 {
    margin-bottom: 0;
}

.cart p {
    display: none;
    margin: 0;
    padding: 0.25rem;
    font-size: 0.8rem;
}

.cart:hover p {
    display: block;
}

.cart p > span {
    font-weight: bolder;
}
